@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mainContainer{
  min-height: 100%;
  background-color:#000219;
  height: 41.1rem;

}
.head{
  background-color:#21e031;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.logo{
  width: 50px;
}
.logo img{
  width: 100%;
}
.navegation{
  width: 50%;
  min-width: 400px;
}
.menu ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.items{
  text-decoration: none;
  color: #fffce1;
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.3s ease;
}
.items:hover{
  color: #ff7b00;
}

.button_cv{
  padding: 10px;
  color: #ff7b00;
  border: 1px solid #ff7b00;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}
.button_cv:hover{
  background-color: #ff7b0075;
}



.main2{
  width: 100%;
  max-width: 1600px;
  padding:70px 200px;
  margin: 0 auto;
  background-color: aqua;
}
.container{
  /* background-color: #ff7b00; */
  /* margin-top: 50px; */
  width: 100%;
  max-height: 76vh;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.informacion{
  height: 300px;
  overflow: hidden;
  background-color: #d3b22e;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.pre{
  color: #ff7b00;
  font-size: 1.2rem;
  font-weight: 600;
}
.profile{
  text-transform: capitalize;
  color: #fffce1;
  font-size: 2.5rem;
  margin: 10px 0px 0px 0px;
  background-color: #d3b22e;
  height: 5rem;
}
.description{
  width: 60%;
  color: #fffce1;
}
.imagen_profile {
  display: flex;
  justify-content: flex-end;
  
}
.imagen_profile img{
  height: 300px;
  position: relative;
  top: 0px;
  filter: brightness(0.9);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.7);
  z-index: 1;
}
/* .profileI{
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.7);
} */

.footer{
  background-color:#d3b22e;
  color: #fffce1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.footer a{
  margin-bottom: 2%;
}